body {
    max-width: 1200px; /* 最大幅を設定 */
    margin: 0 auto;    /* 中央寄せ */
    width: 100%;       /* 小さい画面でもレイアウトが崩れないようにする */
}

.login-logo {
    letter-spacing: 3px;
    text-align: center;
    font-size: 20px;
    margin: 80px 0 70px 0;
}

.my-page-link {
    text-align: center;
}